{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "./src/main",
        "rootPathPrefix": "~/"
      }
    ],
    // "@babel/plugin-proposal-optional-chaining",
    [
      "auto-import",
      {
        "declarations": [
          {
            "default": "React",
            "path": "react",
            "members": ["useState", "useEffect", "useContext", "useRef"]
          },
          {
            "default": "unstated",
            "path": "unstated-next",
            "members": ["useContainer"]
          },
          { "default": "PropTypes", "path": "prop-types" },
          { "default": "classnames", "path": "classnames" }
        ]
      }
    ],
    "react-hot-loader/babel",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
