.flash {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  user-select: none;
}

.selectedSketches {
  width: 50%;
  background: #efefef;
  min-width: 240px;
  border-right: 1px solid var(--border-color);
}

.selectedSketch {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid white;
  color: inherit;
  text-decoration: none;
}

.selectedSketch.selected {
  background: white;
}

.selectedSketch svg:first-child {
  margin-right: 8px;
  width: 12px;
  height: 12px;
  fill: rgba(0, 0, 0, 0.3);
}

.selectedSketch svg:last-child {
  margin-left: auto;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  opacity: 0.5;
}

.selectedSketch:hover svg:last-child {
  opacity: 1;
}

.selectedSketch video {
  margin-right: 8px;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  background: black;
}

.flashConfiguration {
  display: flex;
  flex-direction: column;
}

.chooseSoulmate {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 24px;
}

.flash .configuration {
  border-radius: 8px;
  margin: 0 16px;
}

.chooseSoulmateSoulmate {
  margin: 4px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chooseSoulmateSoulmate svg {
  margin-right: 8px;
}

.flashButton.button {
  width: 250px;
  flex-grow: 0;
  margin-left: auto;
  display: inline-block;
  margin: 16px 16px 16px auto;
}

.empty {
  font-size: 11px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 0 40px;
  color: #666;
  font-size: 10px;
  padding: 12px 8px 8px 12px;
  line-height: 1;
  margin: 0;
}
