.flashBackground {
  flex-grow: 1;
  user-select: none;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background: url("./so-white.png");
}

.dark .flashBackground {
  background: #333 url("./denim.png");
}

.flash {
  flex-grow: 1;
  user-select: none;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin: 40px;
  overflow: hidden;
  background: var(--panel-background);
}

.selectedSketches {
  width: 240px;
  flex-shrink: 0;
  position: relative;
  background: var(--panel-background);
  border-right: 1px solid var(--border-color);
}

.sketchesList {
  width: 240px;
  margin: 0 auto;
  flex-shrink: 0;
  position: relative;
  display: block;
  overflow: hidden;
  color: var(--text-color);
}

.selectedSketch {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid var(--border-color);
  text-decoration: none;
}

.selectedSketch svg:first-child {
  margin-right: 8px;
  width: 12px;
  height: 12px;
  fill: var(--text-color);
}

.selectedSketch svg:last-child {
  margin-left: auto;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  opacity: 0.5;
  cursor: pointer;
}

.selectedSketch:hover svg:last-child {
  opacity: 1;
}

.selectedSketch video {
  margin-right: 8px;
  border-radius: 8px;
  overflow: hidden;
  width: 32px;
  height: 32px;
  background: black;
}

.flashConfiguration {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid var(--border-color);
  border-left: none;
}

.chooseSoulmate {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 24px;
}

.flash .configuration {
  border-radius: 8px;
  margin: 0 16px;
}

.chooseSoulmateSoulmate {
  margin: 4px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-color);
}

.chooseSoulmateSoulmate svg {
  margin-right: 8px;
}

.flashButton.button {
  margin-left: auto;
  margin: 16px 16px 16px auto;
}

.empty {
  background: rgba(255, 255, 255, 0.3);
  font-size: 11px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 0 40px;
  color: #666;
  font-size: 10px;
  padding: 24px;
  font-style: italic;
  margin: 0;
}

.dark .empty {
  color: #222;
}
