.flash {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  user-select: none;
}

.selectedSketches {
  width: 50%;
  background: #efefef;
  min-width: 240px;
  border-right: 1px solid var(--border-color);
}

.selectedSketches .selectedSketch {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid white;
  color: inherit;
  text-decoration: none;
}

.selectedSketches .selectedSketch.selected {
  background: white;
}

.selectedSketches .selectedSketch svg:first-child {
  margin-right: 8px;
  width: 14px;
  height: 14px;
}

.selectedSketches .selectedSketch svg:last-child {
  margin-left: auto;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  opacity: 0.5;
}

.selectedSketches .selectedSketch:hover svg:last-child {
  opacity: 1;
}

.selectedSketches .selectedSketch video {
  margin-right: 8px;
  border-radius: 8px;
  width: 24px;
  height: 24px;
}

.chooseSoulmate {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.chooseSoulmate .configuration {
  margin: 8px 0;
  border-radius: 8px;
}

.chooseSoulmateSoulmate {
  margin: 4px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chooseSoulmateSoulmate svg {
  margin-right: 8px;
}
