:root {
  --border-color: rgb(211, 211, 211);
}

.dark {
  --border-color: #222;
}

* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  padding: 0 16px;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: none;
}

#app,
#root {
  width: 100%;
  max-width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: none;
}

.app-container {
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-x: hidden;
  flex-direction: column;
}

.titlebar {
  display: block;
  width: 100%;
  height: 36px;
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.1;
  background-color: #efefef;
  border-bottom: 1px solid var(--border-color);
  color: #999;
  user-select: none;
}

.dark .titlebar {
  background: #333;
}

.focus .titlebar {
  background: #e3e3e3;
  color: #666;
}

.dark.blur .titlebar {
  color: #999;
}

.focus.dark .titlebar {
  background: #2a2a2a;
  color: #bbb;
}

.titlebar .title {
  margin: 0 auto;
}

.titlebar .user {
  margin-right: 8px;
}

.titlebar svg * {
  fill: white;
}

.dark .titlebar {
  color: #aaa;
  text-shadow: 1px 1px #222;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  /* box-shadow: inset 0px -2px 8px rgba(0, 0, 0, 0.2); */
}

.app-wrapper {
  height: 100%;
}

.dark {
  background: #444;
  color: white;
}

.welcome {
  margin: auto auto;
  text-align: center;
}

.frame {
  display: flex;
  flex-direction: row;
  height: calc(100% - 36px);
  transition: ease opacity 0.1s;
}

.blur .frame,
.blur .titlebar {
  opacity: 0.8;
}

.editor {
  display: flex;
  position: relative;
  width: 50%;
  box-sizing: border-box;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: none;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-direction: row;
}

canvas {
  width: 400px;
  height: 400px;
}

.pixels {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  border-left: 1px solid #ddd;
}

.dark .pixels {
  border-left: 1px solid #000;
}

.toolbar {
  display: flex;
  padding: 8px 16px;
  background-color: #efefef;
  border-top: 1px solid var(--border-color);
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  justify-content: flex-end;
}

.toolbar .button.configure {
  margin-right: auto;
  margin-left: 0;
}

.toolbar .button {
  margin-left: 8px;
  margin-right: 8px;
}

.toolbar .button:last-child {
  margin-right: 0;
}

.toolbar .button .loader {
  width: 16px;
  position: relative;
}

.toolbar .button .loader * {
  fill: #666;
}

.dark .toolbar .button .loader * {
  fill: #dedede;
}

.dark .toolbar {
  background: #333;
  color: white;
}

.spacer {
  flex: 1;
}

.code-editor {
  display: flex;
  width: 100%;
  flex-grow: 1;
  min-height: 0;
  max-width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
}

.code-editor-wrapper {
  display: flex;
  width: 100%;
  flex-grow: 1;
  min-height: 0;
  max-width: 100%;
  padding: 4px 0 0 4px;
  flex-grow: 1;
  box-sizing: border-box;
}

.dark .code-editor-wrapper {
  background: rgb(29, 29, 29);
}

.compiler-output {
  overflow: auto;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 8px 12px;
  margin: 0;
  font-size: 11px;
  height: 170px;
  border-top: 1px solid var(--border-color);
  flex-grow: 0;
  overflow: auto;
  color: darkgreen;
}

.dark .compiler-output {
  background: #333;
  border-top: 1px solid #000;
  color: lightgreen;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.compiler-output pre {
  margin: 0;
  white-space: pre-line;
}

.tabs {
  background: #ddd;
  padding: 8px;
}

.dark .tabs {
  background: #333;
  color: white;
}

.dark .tabs a {
  color: white;
}

.simulator {
  display: flex;
  position: relative;
  flex-grow: 1;
  min-width: 300px;
  background: url("./so-white.png");
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 50px 30px;
}

.dark .simulator {
  background: #333 url("./denim.png");
  box-shadow: inset 0px 0px 80px 80px black;
}

.canvas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  overflow: hidden;
  box-shadow: 0 0 5px #222;
}

.simulator canvas {
  border-radius: 2px;
  background: black;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader {
  width: 50px;
  height: 50px;
  align-self: center;
  justify-self: center;
  transform-origin: 50% 50%;
  animation: rotating 2s linear infinite;
}

.button {
  font-size: 12px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background: #dedede;
  color: #333;
  text-align: center;
  padding: 4px 12px 4px 12px;
  -webkit-app-region: no-drag;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #aaa;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  cursor: pointer;
}

.blur .button {
  background: #efefef;
}

.button svg {
  position: relative;
  margin-right: 8px;
  height: 16px;
}

.button svg * {
  fill: currentColor;
}

.button:active,
.button.pressed {
  box-shadow: inset 1px 1px 1px #999;
  background: #cdcdcd;
}

.button[disabled] {
  box-shadow: none;
  box-shadow: 0 0 1px #666;
  color: #888;
}

.dark .button {
  background: #444;
  box-shadow: 1px 1px 2px #222;
  color: #dedede;
}

.dark .button[disabled] {
  background: #555;
}

.dark .button:active,
.dark .button.pressed {
  background: #222;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.user .button {
  margin-left: auto;
  cursor: pointer;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
}

.user .button:last-child {
  margin-right: 8px;
}

.user img {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
}

.configuration {
  background: #efefef;
  z-index: 20;
  color: #333;
  padding: 8px 16px 8px;
  font-size: 11px;
  line-height: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dark .configuration {
  background: #333;
  color: #dedede;
}

.configuration p {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  margin-bottom: 8px;
  margin-top: 8px;
}

.configuration label {
  width: 120px;
  text-align: right;
  padding-right: 8px;
  display: block;
  position: relative;
}

.configuration input,
.configuration select {
  padding: 4px 8px 5px;
  outline: none;
  flex-grow: 1;
  flex-shrink: 0;
  border-radius: 4px;
  font-size: 11px;
  border: 1px solid #999;
}

.dark .configuration input,
.dark .configuration select {
  background: #333;
  color: #ddd;
  border: 1px solid #999;
}

.configuration input {
  padding-top: 5px;
}
