.list {
  display: flex;
  width: 240px;
  flex-shrink: 0;
  border-right: 1px solid var(--border-color);
  flex-direction: column;
  background-color: #efefef;
  user-select: none;
}

.sketches {
  overflow: auto;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
}

.sketches .loader {
  align-self: center;
  width: 50px;
  height: 50px;
  margin: 50px auto;
  flex-shrink: 0;
}

.dark .list {
  background: #333;
}

.soulmates {
  margin-top: auto;
  margin-bottom: 8px;
}

.device {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  text-decoration: none;
  align-items: center;
  color: #444;
  padding: 4px 8px 4px 12px;
  cursor: pointer;
}

.device:hover {
  color: #222;
}

.device svg {
  margin-right: 8px;
  position: relative;
  top: -1px;
}

.dark .device {
  color: white;
}

.sketch {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  text-decoration: none;
  align-items: center;
  color: #333;
  padding: 8px 8px 8px 12px;
}

.sketch a {
  color: #333;
  text-decoration: none;
  flex-grow: 1;
  padding-left: 8px;
}

.sketch:hover {
  color: #333;
}

.sketch .delete {
  flex-grow: 0;
  margin-left: auto;
  padding: 4px;
  width: 26px;
  height: 26px;
  border-radius: 4px;
  opacity: 0.2;
}

.sketch:hover .delete {
  opacity: 0.5;
}

.sketch .delete:hover {
  background: red;
  color: white;
  opacity: 1;
}

.dark .sketch {
  color: white;
}

.dark .sketch:hover {
  background: #666;
}

.sketch.selected,
.sketch.selected:hover {
  background: rgb(211, 211, 211);
}

.dark .sketch.selected,
.dark .sketch.selected:hover {
  background: #222;
  color: white;
}

.sketch .video-wrapper {
  margin-right: 8px;
}

.sketch:hover {
  background: #e0e0e0;
}

.sketch video,
.video-wrapper,
.video-wrapper::after {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  height: 32px;
  width: 32px;
  border-radius: 8px;
}

.video-wrapper {
  margin: 4px;
}

.video-wrapper::after {
  position: absolute;
  box-shadow: inset 0px 0px 2px #333;
  content: " ";
}

.dark .video-wrapper {
  box-shadow: inset 0px 0px 2px #222;
}

.sketch span {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.new {
  box-sizing: border-box;
}

.list .button {
  margin: 8px;
}

.user {
  padding: 10px 16px 10px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.user a {
  color: inherit;
  color: #333;
  margin-left: auto;
  cursor: pointer;
  position: relative;
}

.dark .user a {
  color: white;
}

.user img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
  top: -1px;
}

.heading {
  color: #666;
  font-size: 10px;
  padding: 18px 4px 8px 12px;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}
