.list {
  display: flex;
  width: 20%;
  min-width: 200px;
  max-width: 300px;
  flex-shrink: 0;
  border-right: 1px solid var(--border-color);
  flex-direction: column;
  background-color: #efefef;
  user-select: none;
}

.sketches {
  overflow: auto;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sketches .loader {
  align-self: center;
  width: 50px;
  height: 50px;
  margin: 50px auto;
  flex-shrink: 0;
}

.dark .list {
  background: #333;
}

.soulmates {
  margin-top: auto;
  margin-bottom: 8px;
  padding-top: 16px;
}

.sketch,
.device {
  color: var(--text-color);
}

.device {
  font-size: 12px;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  text-decoration: none;
  align-items: center;
  padding: 4px 8px 4px 12px;
  cursor: pointer;
}

.device:hover {
  color: #222;
}

.device svg {
  margin-right: 8px;
  position: relative;
  top: -1px;
}

.dark .device {
  color: white;
}

.sketch {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  text-decoration: none;
  align-items: center;
  padding: 4px 8px 4px 6px;
  font-size: 12px;
  color: var(--text-color);
}

.sketch a {
  text-decoration: none;
  flex-grow: 1;
  padding-left: 8px;
}

.sketch:hover {
  color: var(--text-color);
}

.dark .sketch:hover {
  background: #444;
  color: var(--text-color);
}

.sketch svg {
  flex-grow: 0;
  margin-left: 5px;
  padding: 4px;
  width: 26px;
  height: 26px;
  border-radius: 4px;
}

.sketch svg.action {
  opacity: 0.2;
}

.sketch:hover svg.action {
  opacity: 0.5;
}

.sketch .rename:hover {
  background: white;
  opacity: 1;
}

.sketch .delete:hover {
  background: red;
  color: white;
  opacity: 1;
}

.dark .sketch .delete:hover {
  background: #990000;
}

.sketch.selected,
.sketch.selected:hover {
  background: var(--selected-background);
}

.dark .sketch.selected,
.dark .sketch.selected:hover {
  color: white;
}

.sketch .video-wrapper {
  margin-right: 8px;
  background: black;
}

.sketch:hover {
  background: #e0e0e0;
}

.sketch video,
.video-wrapper {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  height: 18px;
  width: 18px;
  border-radius: 4px;
}

.video-wrapper {
  margin: 4px;
}

.dark .video-wrapper {
  box-shadow: inset 0px 0px 2px #222;
}

.heading {
  height: 35px;
  color: var(--heading-color);
  font-size: 10px;
  padding: 8px 8px 8px 12px;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
}

hr {
  border-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  margin: 4px 0 4px 0;
}

.toggle {
  display: flex;
  flex-direction: inline;
  margin-left: auto;
  font-size: 9px;
}

.toggle > div {
  padding: 4px 5px;
  border: 1px solid var(--outline-color);
  cursor: pointer;
  min-width: 36px;
  text-align: center;
}

.toggle > div:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
}

.toggle > div:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.toggle .selected {
  background: #999;
  border: none;
  padding: 5px;
  color: white;
  box-shadow: inset 1px 1px 1px #888;
}

.dark .toggle > div {
  border-color: #222;
}

.dark .toggle .selected {
  background: #262626;
  box-shadow: inset 1px 1px 1px #222;
}

.blur .toggle {
  opacity: 0.5;
}

.list .new.button {
  box-sizing: border-box;
  /* margin-bottom: 8px; */
}

.list .button {
  margin: 12px 8px 0;
}

.newSketchName {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: #333;
  -webkit-app-region: no-drag;
  margin: 9px 12px 9px 12px;
}

.newSketchName .button {
  margin: 0;
  margin-left: -1px;
  padding: 5px 8px 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: none;
}

.newSketchName input {
  padding: 5px 8px 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #888;
  outline: none;
  flex-grow: 1;
}

.device .loader {
  width: 12px;
  height: 12px;
  position: relative;
}

.device .loader * {
  fill: #666;
}

.dark .device .loader * {
  fill: #dedede;
}

.device .loader {
}

.actions {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}

.dimensions {
  font-size: 9px;
  color: #999;
  flex-shrink: 0;
  border: 1px solid var(--outline-color);
  border-radius: 6px;
  padding: 2px 4px;
}

.sketchName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 1;
  margin-right: 10px;
}

.username {
  padding: 4px 8px 4px 12px;
  font-size: 11px;
  line-height: 11px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
}

.username svg {
  margin: 0 4px;
  position: relative;
  top: 1px;
}

.username span {
  font-size: 9px;
  color: #999;
  flex-shrink: 0;
  border: 1px solid var(--outline-color);
  border-radius: 6px;
  padding: 2px 4px;
  margin-left: auto;
}

.username img {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 4px;
}

.group {
  max-height: 360px;
  overflow: auto;
}
