.usb-flash {
  border-radius: 8px;
  height: 8px;
}

.usb-flash::-webkit-progress-bar {
  background: white;
  border-radius: 8px;
  border: 1px solid white;
}

.usb-flash::-webkit-progress-value {
  background: rgb(111, 62, 218);
  border-radius: 8px;
}
