.usb-flash {
  background: white;
  border-radius: 8px;
  height: 8px;
}

.usb-flash::-webkit-progress-bar {
  background: white;
  border-radius: 8px;
  border: 1px solid black;
}

.usb-flash::-webkit-progress-value {
  background: #333;
  border-radius: 8px;
}
