@tailwind base;
@tailwind components;
@tailwind utilities;

/* .dark-bg {
  background: blue;
}

.light-bg {
  background: yellow;
}

@media (prefers-color-scheme: dark) {
  .dark-bg {
    @apply bg-gray-800;
  }

  .light-bg {
    background: pink;
  }
}

body {
  background: white;
}

.blur {
  opacity: 0.9;
} */
