.welcome {
  margin: auto auto;
  text-align: center;
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  height: 100%;
}

.welcome-header {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.welcome-header > div {
  justify-content: center;
  align-items: center;
  display: flex;
}

.welcome-header svg.logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.welcome-editor {
  border: 1px solid var(--outline-color);
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  text-align: left;
}

.welcome .get-started {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.welcome .get-started a {
  margin: 0 8px;
}

.welcome-navigation .button {
  margin-left: 8px;
}

.welcome-finished {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.welcome-finished > p,
.welcome-finished > svg {
  margin: 0 0 20px 0;
}

.welcome-finished img {
  max-width: 80%;
  max-height: 50%;
}
